@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h3>Secured UserName and Password from web config secured section </h3>
    UserName =<b> @ViewBag.securedUserName</b>, Password = <b>@ViewBag.securedPassword</b>
</div>

<div class="jumbotron">
    <h3>Customer Details</h3>
    Id = @ViewBag.ProductId, Name = @ViewBag.ProductName
</div>

<div class="row">

</div>